In [23]:
import numpy
import pandas as pd
dictionary = {'B0_L0MuonDecision_TOS': [1,2,3], 'B0_L0DiMuonDecision_TOS': [2,7,1]}
data = pd.DataFrame(dictionary)
print(data)
selection = numpy.logical_or(data['B0_L0MuonDecision_TOS'] == 1, data['B0_L0DiMuonDecision_TOS'] == 1)
selected_data = data.loc[selection].reset_index()
print(selected_data)

   B0_L0MuonDecision_TOS  B0_L0DiMuonDecision_TOS
0                      1                        2
1                      2                        7
2                      3                        1
   index  B0_L0MuonDecision_TOS  B0_L0DiMuonDecision_TOS
0      0                      1                        2
1      2                      3                        1

In [2]:
import pandas
data = pandas.DataFrame({'a':[1,2,3], 'b':[4,5,6]})
data

   a  b
0  1  4
1  2  5
2  3  6

In [7]:
select = data[data['a']>2].reset_index()
select

   index  a  b
0      2  3  6